/*
User Stories:
√ Color scheme: Papyrus/vintage
√ Text theme: serif
√ Round box edges
- Inline body with left nav menu and right images (perhaps "football cards" of prominent record holders)
- Add :hover {background-color} to highlight records when mouse hovers.
- Background to look like old newspaper
- Fieldset background like a football field
*/

/*
html {
    box-sizing: border-box;
}
*/

.header-text {
    text-align: center;
}

nav {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    max-width: 300px;
    border: 1px solid black;
    z-index: 1;
    padding-top: 30px;
}

.sidenav a {
    display: block;
    padding: 12px 12px 12px 20px;
    border-top: 1px solid black;
    color: #130c02;
}

.sidenav a:last-of-type {
    border-bottom: 1px solid black;
}

.sidenav a:hover {
    color: grey;
}

body {
    background-color: #d6c3a1;
    display: block;
    max-width: 600px;
    min-width: 400px;
    margin: 55px 280px 0px 280px;
    padding-left: 1rem;
    font: 16px Georgia, serif;
    overflow: scroll;
}

.secondary-header {
    padding: 10px;
    font: bold 24px Georgia, serif;
}

div {
    border: 3px solid #362404;
    border-radius: 6px;
    padding: 10px;  
    margin-bottom: 10px;  
}

#records-tracked {
    text-align: center;
    font-weight: bold;
}

.record-header {
    text-align: center;
    font-weight: bold;
}

.key-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
}

footer a {
    color: #130c02;
    padding-bottom: 30px;
}

footer a:hover {
color: grey;
}
