/* Global color settings */
:root {
  --football-color: rgb(51, 38, 4);
  --grass-color: rgb(43, 88, 37);
  --dark-grass: rgb(13, 48, 8);
  --background-color: #d6c3a1;
  --transparent-bg: #d6c3a199;
  --transparent-brown: #362404CC;
  --charcoal: #130c02;
  --laces: #faf8f3;
}

/* Global font settings */
@font-face {
  font-family: "Nova Square";
  src: local("NovaSquare-Regular"), local("Nova Square"), format("truetype"), format("ttf");
}

/* Side navigation menu */
.sidenav {
  /*border: 2px solid var(--charcoal);*/
  z-index: 1;
  font-weight: bold;
  text-align: center;
  grid-area: sidenav;

}

/* Tecmo Superbowl logo spacing and sizing */
#tsb-cover {
  padding: 1rem;
}

/* Side navigation link styling */
.sidenav a {
  display: block;
  border: .1em solid var(--charcoal);
  border-radius: .25em;
  color: var(--charcoal);
  background-color: var(--transparent-bg);
  padding: 1rem;
}

.sidenav a:nth-of-type(n+2) {
  border-top: 0;
}

/* Container Grid Layout */
.container {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr;
  grid-template-rows: .5fr .5fr .5fr;
  grid-template-areas:
    "sidenav content-1 content-2 content-3"
    "sidenav content-4 content-5 content-6"
    "sidenav content-7 content-8 content-8"
}

.content-1 {
  grid-area: content-1;
}

.content-2 {
  grid-area: content-2;
}

.content-3 {
  grid-area: content-3;
}

.content-4 {
  grid-area: content-4;
}

.content-5 {
  grid-area: content-5;
}

.content-6 {
  grid-area: content-6;
}

.content-7 {
  grid-area: content-7;
}

.content-8 {
  grid-area: content-8;
}

/* Content block color scheme (football field) */
.content-1,
.content-2,
.content-3,
.content-4,
.content-5,
.content-6,
.content-7,
.content-8 {
  border: 3px solid var(--football-color);
  border-radius: 0.3rem;
  background-color: var(--grass-color);
  color: var(--laces);
  padding: 1rem;
  margin: 1rem;
}

/* Football-shaped header */
.football-title {
  justify-content: center;
  text-align: center;
  position: relative;
  margin: 1rem auto;
  color: var(--laces);
  background-color: var(--football-color);
  filter: drop-shadow(0.75rem -1.5rem 0.75rem var(--charcoal));
  border-radius: 47%;
  padding: 3.125rem;
  max-width: 24.375rem;
  max-height: 11rem;
  font-family: "Nova Square", serif;
  font-weight: normal;
  font-size: 1.9rem;
  overflow: hidden;
  z-index: 0;
}

/* Football sub-title styling. Note: Sub-title is differentiated from header by being used within the main content blocks rather than at the top of the page. */
.football-subtitle {
  font-size: 1.35rem;
}

/* Key header text settings */
.key-header {
  font-weight: bold;
  font-size: 1.75rem;
}

/* Key content text settings */
.key {
  font-weight: normal;
  font-size: 1.1rem;
  text-align: left;
}

/* Creates a semi-transparent background with a framed border */
.framed-bg {
  text-align: center;
  background-color: var(--transparent-bg);
  color: var(--charcoal);
  border-radius: 0.75em;
  border: 0.5rem ridge var(--transparent-brown);
}

/* Introduction text settings */
.intro {
  text-align: center;
  font-size: 1.75rem;
  font-family: "Nova Square", serif;
}

/* Cursor hover effect for navigation and footer links. Styled with football color scheme.  */
footer a:hover,
.sidenav a:hover {
  color: var(--laces);
  background-color: var(--football-color);
  border-radius: 0.3em;
  filter: drop-shadow(1.1rem -1.1rem 1.1rem var(--charcoal));
}

/* Global styling settings for content and background. */
body {
  background-color: var(--background-color);
  background-image: url(newspaper.jpg);
  background-repeat: repeat-x;
  background-attachment: fixed;
  font: 1em Lato, sans-serif;
}

/* Record header text settings */
.record-header {
  text-align: center;
  font-size: 1.1rem;
  font-family: "Nova Square", serif;
}

/* Custom font settings for feats page notes */
.feats-font {
  font-style: normal;
  font-size: 1.2rem;
}

/* Link color for footer */
footer a {
  color: var(--charcoal);
}

/* Padding for list items */
li {
  padding: 2.5px;
}

/* Highlights list elements with cursor hover. Style like football field (dark green bg, var(--laces) text) */
li:hover {
  background-color: var(--dark-grass);
  color: var(--laces);
  border-radius: 0.2rem;
  border: 1.5px solid var(--laces);
  z-index: 1;
  cursor: pointer;
}

/* Displays profile image of player or team when cursor hovers over a record list element. */
.hover-img a:hover span {
  display: block;
  visibility: visible;
  height: 0px;
}

/* Hides the profile image from display */
.hover-img a span {
  display: none;
}

/* Styles the hover image */
.hover-img img {
  border-radius: 0.75rem;
  filter: drop-shadow(1.5rem -1.75rem 00.75rem #000);
  width: 60vw;
  margin-top: 1.5rem;
  color: #000;
  font-weight: bold;
  border: 0.4rem solid var(--football-color);
}

/* Adjusts the size of logos */
.logo img {
  width: 25%;
}

/* Styles font of list links */
li>a {
  color: var(--laces);
  text-decoration: none;
}

/* Emphasizes font for effect */
.emphasis {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Nova Square", serif;
}

/* Creates magazine style large letter for the first letter of a paragraph */
.first-letter::first-letter {
  font-size: 2.5rem;
  color: var(--football-color);
}

/* Positions the meter */
.meter {
  position: relative;
  border: 0;
  margin-left: 20%;
}

/* Scales the meter size */
meter {
  width: 30%;
}

/* Positions and scales the footer */
footer {
  width: 50vw;
  margin: auto;
  padding: 1rem;
}

/* Converts mobile screens to a single column */
@media screen and (max-width: 39em) {

  .container {
    display: block;
    align-items: center;
  }

  nav>img {
    width: 40vw;
  }

  .sidenav {
    max-width: 70%;
    height: auto;
    margin: auto;
  }

  .football-title {
    transform: scale(0.75, 0.75);
  }
}

/* Converts tablet screens to a double column */
@media screen and (min-width: 39em) and (max-width: 64em) {

  /* Container Grid Layout */
  .container {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: .5fr .5fr .5fr .5fr .5fr .5fr;
    grid-template-areas:
      "sidenav content-1"
      "sidenav content-2"
      "sidenav content-3"
      "sidenav content-4"
      "sidenav content-5"
      "sidenav content-6"
      "sidenav content-7"
      "sidenav content-8"
  }
}

/* Converts 4:3 screens to a triple column */
@media screen and (min-width: 64em) and (max-width: 92em) {

  /* Container Grid Layout */
  .container {
    display: grid;
    grid-template-columns: .3fr 1fr 1fr;
    grid-template-rows: .5fr .5fr .5fr .5fr;
    grid-template-areas:
      "sidenav content-1 content-2"
      "sidenav content-3 content-4"
      "sidenav content-5 content-6"
      "sidenav content-7 content-8"

  }
}


/* Limits display width for ultra-wide displays */